---
title: Integrated DOAP Plugin in the Site Plugin
author: 
  - Vincent Siveton
date: 2010-12-16
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

# Integrated DOAP Plugin With The Site Plugin

You must publish the generated DOAP file, as described in [DOAP In Use](./doap-in-use.html).

By default, the [`site:deploy`](http://maven.apache.org/plugins/maven-site-plugin/usage.html) goal deploys the generated DOAP file to the site that the _distributionManagement_ section of the POM specifies.

Include DOAP In The Site Phase
--------------------------------

To generate the DOAP file for your project in the `site` phase, add the DOAP Plugin with this configuration:

```xml
<project>
  <build>
    <plugins>
      ...
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-doap-plugin</artifactId>
        <version>${project.version}</version>
        <executions>
          <execution>
            <id>site</id>
            <phase>site</phase>
            <goals>
              <goal>generate</goal>
            </goals>
          </execution>
        </executions>
      </plugin>
      ...
    </plugins>
  </build>
</project>
```

Define A Meta Tag
-----------------

To link the DOAP file available from all HTML files in the site, modify `src/site/site.xml` to include a &lt;link/&gt; element in the HTML `head`:

```xml
<project>
  <body>
    <head>
      <link rel="meta" title="DOAP" href="${esc.d}{project.url}/doap_${esc.d}{project.artifactId}.rdf" type="application/rdf+xml"/>
    </head>
    ...
  </body>
</project>
```

Generate DOAP From Another Maven Project
------------------------------------------

One Maven project can generate the DOAP file for a different Maven project. This helps when you have separate main and site projects.

```xml
<project>
  <build>
    <plugins>
      ...
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-doap-plugin</artifactId>
        <version>${project.version}</version>
        <configuration>
          <artifact>
            <groupId>given-artifact-groupId</groupId>
            <artifactId>given-artifact-artifactId</artifactId>
            <version>given-artifact-version</version>
          </artifact>
        </configuration>
      </plugin>
      ...
    </plugins>
  </build>
</project>
```
